body {
  font-family: 'Roboto', Arial, sans-serif; 
  font-size: 22px;
  line-height: 1.8;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', Palatino Linotype, Book Antiqua, Palatino, serif;
  max-width: 85ch;
}

section {
  max-width: 65ch;
  margin: auto;
  padding: 2rem;
}
